@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #0a0a0a; 
  color: #fff;
  background-image: url('https://sdmntprwestus.oaiusercontent.com/files/00000000-4874-6230-affe-e5348e7326f4/raw?se=2025-04-28T21%3A49%3A05Z&sp=r&sv=2024-08-04&sr=b&scid=297da62c-11b4-53b5-8680-4fb554f88941&skoid=4ae7b564-2531-470e-8ddb-6913f4bee2ee&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-28T14%3A34%3A33Z&ske=2025-04-29T14%3A34%3A33Z&sks=b&skv=2024-08-04&sig=JrzRo5qUzRDfEK2yTtJyBaWB4E3XGH%2B7dbl4kZzCov4%3D');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

@media (max-width: 768px) {
  body {
    background-size: contain; 
  }
}

@media (max-width: 480px) {
  body {
    background-size: 100% 100%; 
  }
}

h1 {
  margin-top: 30px;
  font-size: 2em;
  color: #00b3ff;
  text-shadow: 2px 2px #000;
  text-align: center;
}

.chatbox {
  width: 90%;
  max-width: 400px;
  margin: 40px auto;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00b3ff; 
  border: 2px solid #005f99;
}

.fundo {
    width: 300px;
    height: 200px;
    background-image: url('imagem.png');
    background-size: cover; 
    background-position: center;
  
}

#chat {
  height: 250px;
  overflow-y: auto;
  background-color: #111;
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #00b3ff;
  border-radius: 10px;
}

input {
  width: 68%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  transition: all 0.3s;
  border: 1px solid #333;
}

input:focus {
  outline: none;
  border-color: #00b3ff; 
  box-shadow: 0 0 10px #00b3ff;
}

button {
  padding: 10px 15px;
  background: #00b3ff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #007acc; 
  transform: scale(1.05);
}


@media (max-width: 768px) {
  #chat {
    height: 200px;
  }

  input {
    width: 65%;
  }

  button {
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .chatbox {
    padding: 15px;
  }

  #chat {
    height: 180px;
  }
}